<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elife.feature.mapper.CompanyMapper">
    
    <resultMap type="Company" id="CompanyResult">
        <result property="companyId"            column="company_id"    />
        <result property="deptId"               column="dept_id"    />
        <result property="companyName"          column="company_name"    />
        <result property="companyAddress"       column="company_address"    />
        <result property="email"                column="email"    />
        <result property="foundTime"            column="found_time"    />
        <result property="certificate"          column="certificate"    />
        <result property="additionalInfo"       column="additional_info"    />
        <result property="applyDate"            column="apply_date"    />
        <result property="companyMaster"        column="company_master"    />
        <result property="ticketLimit"          column="ticket_limit"    />
        <result property="status"               column="status"    />
        <result property="createBy"             column="create_by"    />
        <result property="createTime"           column="create_time"    />
        <result property="updateBy"             column="update_by"    />
        <result property="updateTime"           column="update_time"    />
    </resultMap>

    <sql id="selectCompanyVo">
        select company_id, dept_id, company_name, company_address, email, found_time, certificate, additional_info, apply_date, company_master, ticket_limit, status, create_by, create_time, update_by, update_time from fea_company
    </sql>

    <select id="selectCompanyList" parameterType="Company" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        <where>  
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="companyAddress != null  and companyAddress != ''"> and company_address like concat('%', #{companyAddress}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="foundTime != null "> and found_time = #{foundTime}</if>
            <if test="certificate != null  and certificate != ''"> and certificate = #{certificate}</if>
            <if test="additionalInfo != null  and additionalInfo != ''"> and additional_info = #{additionalInfo}</if>
            <if test="applyDate != null "> and apply_date = #{applyDate}</if>
            <if test="companyMaster != null "> and company_master = #{companyMaster}</if>
            <if test="ticketLimit != null "> and ticket_limit = #{ticketLimit}</if>
            <if test="status != null "> and status = #{status}</if>
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectCompanyByCompanyId" parameterType="Long" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        where company_id = #{companyId}
    </select>
        
    <insert id="insertCompany" parameterType="Company" useGeneratedKeys="true" keyProperty="companyId">
        insert into fea_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="companyAddress != null">company_address,</if>
            <if test="email != null">email,</if>
            <if test="foundTime != null">found_time,</if>
            <if test="certificate != null">certificate,</if>
            <if test="additionalInfo != null">additional_info,</if>
            <if test="applyDate != null">apply_date,</if>
            <if test="companyMaster != null">company_master,</if>
            <if test="ticketLimit != null">ticket_limit,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="companyAddress != null">#{companyAddress},</if>
            <if test="email != null">#{email},</if>
            <if test="foundTime != null">#{foundTime},</if>
            <if test="certificate != null">#{certificate},</if>
            <if test="additionalInfo != null">#{additionalInfo},</if>
            <if test="applyDate != null">#{applyDate},</if>
            <if test="companyMaster != null">#{companyMaster},</if>
            <if test="ticketLimit != null">#{ticketLimit},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCompany" parameterType="Company">
        update fea_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="companyAddress != null">company_address = #{companyAddress},</if>
            <if test="email != null">email = #{email},</if>
            <if test="foundTime != null">found_time = #{foundTime},</if>
            <if test="certificate != null">certificate = #{certificate},</if>
            <if test="additionalInfo != null">additional_info = #{additionalInfo},</if>
            <if test="applyDate != null">apply_date = #{applyDate},</if>
            <if test="companyMaster != null">company_master = #{companyMaster},</if>
            <if test="ticketLimit != null">ticket_limit = #{ticketLimit},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where company_id = #{companyId}
    </update>

    <delete id="deleteCompanyByCompanyId" parameterType="Long">
        delete from fea_company where company_id = #{companyId}
    </delete>

    <delete id="deleteCompanyByCompanyIds" parameterType="String">
        delete from fea_company where company_id in 
        <foreach item="companyId" collection="array" open="(" separator="," close=")">
            #{companyId}
        </foreach>
    </delete>
</mapper>