<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elife.feature.mapper.ReplyPatternMapper">
    
    <resultMap type="ReplyPattern" id="ReplyPatternResult">
        <result property="patternId"    column="pattern_id"    />
        <result property="patternCompany"    column="pattern_company"    />
        <result property="patternTitle"    column="pattern_title"    />
        <result property="patternTrigger"    column="pattern_trigger"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectReplyPatternVo">
        select pattern_id, pattern_company, pattern_title, pattern_trigger, content, create_by, create_time, update_by, update_time from fea_reply_pattern
    </sql>

    <select id="selectReplyPatternList" parameterType="ReplyPattern" resultMap="ReplyPatternResult">
        <include refid="selectReplyPatternVo"/>
        <where>  
            <if test="patternCompany != null "> and pattern_company = #{patternCompany}</if>
            <if test="patternTitle != null  and patternTitle != ''"> and pattern_title = #{patternTitle}</if>
            <if test="patternTrigger != null  and patternTrigger != ''"> and pattern_trigger = #{patternTrigger}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectReplyPatternByPatternId" parameterType="Long" resultMap="ReplyPatternResult">
        <include refid="selectReplyPatternVo"/>
        where pattern_id = #{patternId}
    </select>
        
    <insert id="insertReplyPattern" parameterType="ReplyPattern" useGeneratedKeys="true" keyProperty="patternId">
        insert into fea_reply_pattern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patternCompany != null">pattern_company,</if>
            <if test="patternTitle != null">pattern_title,</if>
            <if test="patternTrigger != null">pattern_trigger,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patternCompany != null">#{patternCompany},</if>
            <if test="patternTitle != null">#{patternTitle},</if>
            <if test="patternTrigger != null">#{patternTrigger},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateReplyPattern" parameterType="ReplyPattern">
        update fea_reply_pattern
        <trim prefix="SET" suffixOverrides=",">
            <if test="patternCompany != null">pattern_company = #{patternCompany},</if>
            <if test="patternTitle != null">pattern_title = #{patternTitle},</if>
            <if test="patternTrigger != null">pattern_trigger = #{patternTrigger},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pattern_id = #{patternId}
    </update>

    <delete id="deleteReplyPatternByPatternId" parameterType="Long">
        delete from fea_reply_pattern where pattern_id = #{patternId}
    </delete>

    <delete id="deleteReplyPatternByPatternIds" parameterType="String">
        delete from fea_reply_pattern where pattern_id in 
        <foreach item="patternId" collection="array" open="(" separator="," close=")">
            #{patternId}
        </foreach>
    </delete>
</mapper>